.timer {
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 2vh;
  margin: 3vh;
}
.reloj {
  justify-self: center;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  justify-self: center;
}

.options {
  justify-self: center;
  gap: 10vh;
  display: flex;
}

button {
  width: 18vh;
  height: 6vh;
  font-size: 2hv;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  opacity: 0.5;
}

button:hover {
  background-color: #444444b5;
}
