.timer {
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 8px;
  margin: 15px;
  height: 160px;
}
.reloj {
  justify-self: center;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  justify-self: center;
}

.options {
  justify-self: center;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 130px;
  height: 40px;
  font-size: 2vh;
  background-color: #444444b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #444444b5;
}

@media (max-width: 900px) {
  button {
    width: 90px;
    height: 35px;
    font-size: 1.8vh;
  }
}

@media (max-width: 600px) {
  button {
    width: 70px;
    height: 30px;
    font-size: 1.5vh;
  }
}
